<div class="container">
  <h3 class="text-center my-3">Danh Sách Sản Phẩm</h3>
  <div class="row">
    <div class="col-4" *ngFor="let item of smartPhones">
      <div class="card">
        <img
          style="height: 400px"
          class="card-img-top"
          src="{{ item.image }}"
          alt="{{ item.name }}"
        />
        <div class="card-body" style="height: 150px">
          <h4 class="card-title">{{ item.name }}</h4>
          <p class="card-text">Price: $ {{ item.price }}</p>
          <button class="btn btn-success" (click)="onSelectedItem(item)">
            Cart
          </button>
        </div>
      </div>
    </div>
  </div>
  <h3 class="text-center my-3">GIỎ HÀNG</h3>
  <div class="row">
    <table class="table table-dark table-striped table-hover">
      <thead>
        <th>Hình Ảnh</th>
        <th>Sản Phẩm</th>
        <th>Giá</th>
        <th>Số Lượng</th>
        <th>Tổng Cộng</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let itemGH of gioHang">
          <td>
            <img
              style="height: 80px"
              src="{{ itemGH.image }}"
              alt="{{ itemGH.name }}"
            />
          </td>
          <td>{{ itemGH.name }}</td>
          <td>${{ itemGH.price }}</td>
          <td>
            <button
              class="mx-2 btn btn-info"
              (click)="tangGiamSL(itemGH.id, -1)"
            >
              -
            </button>
            {{ itemGH.quantity }}
            <button
              class="mx-2 btn btn-info"
              (click)="tangGiamSL(itemGH.id, +1)"
            >
              +
            </button>
          </td>
          <td class="text-center">
            ${{ (itemGH.price * itemGH.quantity).toLocaleString("en-US") }}
          </td>
          <td>
            <button
              class="btn btn-danger text-center"
              (click)="deleteItem(itemGH.id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <th colspan="3"></th>
        <th>Tổng Tiền</th>
        <th style="font-size: 1.5rem; color: yellowgreen" class="text-center">
          ${{ tongTien.toLocaleString("en-US") }}
        </th>
        <th>
          <button class="btn btn-warning bold" (click)="onThanhToan()">
            Thanh Toán
          </button>
        </th>
      </tfoot>
    </table>
  </div>
</div>
